.empty {
  @include flex($direction: column);
  & > * {
    opacity: 0;
  }
  &__image {
    animation: empty ease-in-out .4s forwards;
  }
  &__text {
    animation: empty ease-in-out .4s forwards;
    animation-delay: .2s;
    margin-bottom: 10px;
  }
  &__sub-text {
    animation: empty ease-in-out .4s forwards;
    animation-delay: .3s;
  }
}