.todo {
  @include flex(space-between);
  padding: 20px 0;
  border-bottom: 1px solid $theme-green;
  font-size: 24px;
  font-style: italic;
  position: relative;
  &__text {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
  }
  &__actions {
    @include flex(space-around);
    background-color: $actions-background;
    border-radius: 8px;
    height: 30px;
    padding: 0 10px;
    position: relative;
    transition: .3s all ease-in-out;
    width: 146px;
    .active-indicator {
      background-color: $theme-green;
      border-radius: 50%;
      outline: 5px solid $active-indicator-outline;
      display: flex;
      height: 24px;
      position: absolute;
      top: -35%;
      left: 78px;
      transition: .3s all ease-in-out;
      width: 24px;
      z-index: 1;
    }
    button {
      @include flex;
      background-color: transparent;
      height: 100%;
      transform: translateY(0);
      transition: .3s all ease-in-out;
      z-index: 2;
      &:not(:last-child) {
        margin-right: 10px;
      }
      &.active {
        transform: translateY(-45%);
        span {
          color: $black;
        }
      }
      &.delete {
        span {
          color: rgb(187, 2, 2);
        }
      }
    }
    span {
      pointer-events: none;
      transition: .3s all ease-in-out;
    }
  }
  
}