// Color set.
$black: #000000;
$white: #ffffff;

//Header
$app-background: rgb(51, 50, 50);
$header-border-bottom: #ccc;
$logo-icon: orange;
$login-icon: lightgreen;
$logout-icon: red;
$theme-green: lightgreen;
$actions-background: rgb(156, 162, 159);
$active-indicator-outline: rgb(51, 50, 50);