// Fonts
$font-primary: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Helvetica Neue, Arial, Noto Sans, sans-serif;

// Font Weight
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

/* Screen Sizes for Media Queries */
$screen-xxl: 1600px;
$screen-lg2: 1440px;
$screen-xl: 1280px;
$screen-lg: 1024px;
$screen-md: 991px;
$screen-sm: 768px;
$screen-xs: 575px;