header {
  @include flex(space-between);
  border-bottom: 1px solid $header-border-bottom;
  padding: 10px 20px;
  
  .logo {
    @include flex;
    width: fit-content;
    &__image {
      margin-right: 10px;
      svg {
        fill: $logo-icon;
      }
    }
  }
  .actions {
    @include flex;
    &__login {
      svg {
        fill: $login-icon;
      }
    }
  }
}